.contact{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.contact .container{
    display: flex;
    justify-content: space-between;
    width: var(--page-width);
    gap: 150px;
}
.contact .left{
    flex: 1.2;
}
.contact .sm-title{
    color: var(--orange-color);
    margin: 0;
    font-size: 22px;
    font-weight: 800;
}
.contact  .lg-title{
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0;
}
.contact .desc{
    color: var(--gray-color);
    margin: 10px 0 30px;
}
.contact-boxes .row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 25px 0;
    
}
.contact-boxes .row .box{
    flex: 1;
    border: 1px solid rgba(44, 11, 229, 0.149);
    border-radius: 3px;
    padding: 6px 10px;
    transition: 0.1s;
}
.contact-boxes .row .box:hover{
    transform: scale(1.04,1.08);
    box-shadow: 0px 0px 14px -3px rgba(43, 11, 229, 0.382);
}
.contact-boxes .box .top{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 11px;
}
.contact-boxes .box .title{
    color: var(--primary-color);
    margin: 0;
    font-weight: 600;
    cursor: default;
    font-size: 15px;
}
.contact-boxes .box .icon{
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.101);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-boxes .box .icon svg{
    font-size: 25px;
    fill: var(--primary-color);
}
.contact-boxes .box .numbre{
    color: var(--gray-color);
    margin: 1px 0;
    font-size: 14px;
    cursor: default;
}
.contact-boxes .c-button{
    width:100%;
    background-color: rgba(0, 0, 255, 0.101);
    color: rgb(37, 24, 125);
    font-weight: 800;
    font-size: 15px;
    height: 40px;
}
.contact-boxes .c-button:hover{
    background-color: rgba(0, 0, 255, 0.156);
    transform: scale(1);
}

.contact .right{
    flex: 1;
}
.contact .image img{
    width: 100%;
    border-radius: 45% 45% 0 0;
    height: 450px;
    border: 8px solid #b8b8b8e0;
}
@media (max-width:1150px){
    .contact .container{
        gap: 50px;
    }
}
@media (max-width:1000px){
    .contact .container{
        flex-wrap: wrap;
        gap: 40px;
        flex-direction: column;
    }
    .contact .container .right,
    .contact .container .left{
        flex: 1;
        
    }
    .contact-boxes .row {
        flex-wrap: wrap;
    }
}
@media (max-width:400px){
    .contact{
        margin: 40px 0;
    }
    .contact .sm-title {
        font-size: 20px;
    }
    .contact .lg-title {
        font-size: 24px;
        margin: 0;
    }
    .contact .desc {
        font-size: 14px;
    }
    .contact-boxes .box .icon svg {
        font-size: 17px;
    }
    .contact .image img {
        height: 300px;
    }
}