.value-sec{
    display:flex;
    justify-content: center;
    margin: 70px 0 30px;
}
.value-sec .container{
    display: flex;
    justify-content:space-between;
    width: var(--page-width);
    gap:100px;
    align-items: flex-end;
}
.value-sec .left{
    flex: 1;
}

.value-sec .right{
    flex: 1.3;
}
.value-sec .left .image{
    width: 100%;
    
}
.value-sec .left img{
    max-width: 100%;
    height: 480px;
    border-radius: 40% 40% 0 0;
    object-fit: cover;
    border: 8px solid  #dfdfdf;
}

.value-sec .sm-title{
    color: var(--orange-color);
    font-size: 23px;
    margin: 0px 0 10px;
    font-weight: 800;
}
.value-sec .lg-title{
    font-size: 28px;
    color: var(--primary-color);
    margin: 5px 0;
}
.value-sec .desc{
    margin: 10px 0px 0;
    color: var(--gray-color);
}
.fq-sec{
    margin: 20px 0;
}
.accordion-item{
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.accordion-item .title{
    color: var(--primary-color);
    font-size:18px;
    margin: 0;
}
.accordion-item svg{
    fill: var(--primary-color);
    font-size: 25px;
    padding: 5px;
    border-radius: 4px;
    
}
.accordion-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px 10px;
    background-color: #e9e9e9e7;
    
}
.accordion-button:hover{
    background-color: #dadada;
}
.accordion-panel{
    margin: 0;
    color: var(--gray-color);
    padding: 7px 10px 12px;
}

@media(max-width:1000px){
    .value-sec .container{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
    }
    .value-sec .left,
    .value-sec .right{
        width: 100%;
        flex: 1;
    }
    .value-sec .left img {
        min-width: 200px;
    }
}
@media (max-width:400px){
.value-sec .left img {
        height: 300px;
    }

    .value-sec .sm-title {
        font-size: 20px;
        text-align: center;
    }
    .value-sec .lg-title {
        font-size: 22px;
        text-align: center;
    }
}